{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		 <a href="#" class="navbar-left">
        <img style="max-width:100px; margin-top: -7px;"
             src="{{url_for('.static',filename='images/logo3.JPG')}}"></a>
          <a class="navbar-brand" href="{{ url_for('index') }}">
		  Ambo Customer Portal
		  </a>

		</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>
		  <p class="h5">You can adjust the lighting system using the controls below.</p>
		  <div class="text-right">
			<a href="{{url_for('addZone')}}" class="btn btn-primary">Add New Zone</a>
		  </div>
          <h2 class="sub-header">Zone Information Table</h2>



          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
					<th>Zone Name</th>
					<th>Bulbs</th>
					<th>Current Brightness Setting</th>
					<th>Light Sensor ID</th>
					<th>Override flag</th>
					<th>Energy Saver Mode</th>
					<th>Brightness lower bound</th>
					<th>Brightness upper bound</th>

                </tr>
              </thead>
              <tbody>
			  {%for zone in zoneList:%}
                <tr>
					<td>{{zone.zonename}}</td>
					<td>{{zone.bulbid}}</td>
					<td>{{zone.brightnesssetting}}</td>
					<td>{{zone.lightsensorid}}</td>
					<td>{{zone.overrideflag}}</td>
					<td>{{zone.energysavingmode}}</td>
					<td>{{zone.zonebrightnesslowerbound}}</td>
					<td>{{zone.zonebrightnessupperbound}}</td>
					<td><a href="{{url_for('manualAdjust')}}" class="btn btn-primary">Manual Mode</a></td>
					<td><a href="{{url_for('modifyZone', zoneid = zone.zoneid)}}" class="btn btn-primary">Edit Zone</a></td>
				  </tr>
				{%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}